<div clas="grid-x grid-padding-x">
  <div class="medium-12 cell">
    <h3>Расписание группы ИТ31-БО, а запросили для <%= @group_name %></h3>
  </div>
</div>
<div class="grid-x grid-padding-x">
  <div class="medium-auto cell">
    <a href="<%= group_all_path %>">К выбору группы</a>
  </div>
</div>
<div class="grid-x grid-padding-x">
  <div class="medium-auto cell">
    <h4>Понедельник</h4>
    <p>1: </p>
    <p>2: Астрология. Плутарх. 202</p>
    <p>3: Классическая литература. Достоевский. 415</p>
    <p>4: Основы совологии. Хагрид. Двор</p>
  </div>
</div>
