<div clas="grid-x grid-padding-x">
  <div class="medium-12 cell">
    <h3>Выберите способ просмотра расписания</h3>
  </div>
</div>
<div class="grid-x grid-padding-x">
  <div class="medium-6 cell text-center">
    <a class="button" href="<%= group_all_path %>">По группам</a>
  </div>
  <div class="medium-6 cell text-center">
    <a class="button" href="<%= teacher_all_path %>">По преподавателям</a>
  </div>
</div>